<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
    <link rel="stylesheet" href="styles/recommend.css" />
    <script src="/scripts/view-detail.js" defer></script>
    <script src="/scripts/recommend2.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) { %>
        <p>Unfortunately, we have no restaurants yet - maybe start recommending some?</p>
      <% } else { %> 
        <p>Find your next favorite restaurants with help of our other users!</p>
        <p>We found <%= numberOfRestaurants %> restaurants.</p>
        <form action="/restaurants" method="GET">
          <input type="hidden" value="<%= nextOrder %>" name="order">
          <button class="btn">Change Order</button>
        </form>
        <ul id="restaurants-list">
          <% for (const restaurant of restaurants) { %>
            <%- include('includes/restaurants/restaurant-item', { restaurant: restaurant }) %>
          <% } %>
        </ul>
      <% } %>   
      <h3>It is your turn to share your favorite restaurant:</h3>
      
      <form id="recommend">
        <div class="form-control">
          <label for="name">Restaurant name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-control">
          <label for="adress">Address</label>
          <input type="text" id="adress" name="adress" required />
        </div>
        <div class="form-control">
          <label for="cuisine">Type of cuisine</label>
          <input
            type="text"
            id="cuisine"
            name="cuisine"
            placeholder="e.g. Mexican"
            required
          />
        </div>
        <div class="form-control">
          <label for="website">Restaurant website</label>
          <input type="url" id="website" name="website" />
        </div>
        <div class="form-control">
          <label for="description">Why do you recommend it?</label>
          <textarea
            name="description"
            id="description"
            rows="5"
            required
          ></textarea>
        </div>
        <button>Share Restaurant</button>
      </form>
    </main>
  </body>
</html>
