<li class="restaurant-item">
  <article>
    <h2><%= restaurant.name %></h2>
    <div class="restaurant-meta">
      <p><%= restaurant.cuisine %></p>
      <!-- <p><%= restaurant.adress %></p> -->
      <!-- <p><%= restaurant.description %></p> -->
    </div>
    
    <div class="restaurant-actions">
      <button class="view-rest-btn" data-restid="<%= restaurant.id %>">See More Details</button>
    </div>
  </article>
</li>